body.page-template-about {

	section.hero {
		@include grayscale;
		&:after {
			background: rgba(0,0,0,0.5);
			background: linear-gradient(135deg, rgba(255,123,0,0.85) 0%, rgba(0,0,0,0.65) 66.6666%);
		}

	}

	section#mission {
		@include section-spacing(50, 50, 100, 100);
		text-align: center;

		.wrapper {
			max-width: 800px;
		}

		.headline {
			padding-bottom: 25px;
		}

		.principles {
			padding-top: 50px;

			h3 {
				text-transform: uppercase;
				font-size: 1.25em;
				letter-spacing: 0.05em;
			}

			.copy {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				counter-reset: item-counter;

				.principle {
					width: 100%;
					counter-increment: item-counter;

					&:before {
						content: counter(item-counter);
						font-size: 1em;
						font-weight: bold;
						padding: 10px 12px;
						width: 20px;
						height: 20px;
						border: 2px solid $blue;
						color: $blue;
						text-align: center;
						border-radius: 50%;
						margin: 0 auto 10px auto;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					@include tablet-portrait {
						width: calc(33.3333% - 25px);
					}

					p {
						font-weight: 400;
						font-size: 1.25em;
						line-height: 1.25em;
					}
				}
			}
		}
	}


	section#clients {
		background: $light-gray-blue;
		@include section-spacing(50, 50, 100, 100);

		.headline {
			text-align: center;
			padding-bottom: 50px;
		}

		.slick-dots li button:before {
			border-color: $blue;
		}


		.client {
			text-align: center;

			&:active,
			&:focus {
				outline: none;
			}

			.logo {
				margin: 0 auto;

				img {
					margin: 0 auto;
					object-fit: contain;
					width: 160px;
					height: 80px;
					

				}

			}

			.copy {
				padding-top: 25px;
				max-width: 600px;
				margin: 0 auto;
			}
		}
	}


	section#accolades {
		background: $charcoal;
		@include section-spacing(50, 50, 100, 100);

		.headline {
			text-align: center;

			h2 {
				color: $white;
			}
		}

		.stats {
			padding: 50px;
			text-align: center;


			@include tablet-portrait {
				padding: 50px 25px;
			}

			.copy {
				padding-bottom: 50px;
				color: $white;
			}

			.stats-wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				max-width: 800px;
				margin: 0 auto;
			}

			.stat {
				width: 100%;
				padding-top: 50px;


				@include mobile-landscape {
					width: 50%;	
				}

				@include tablet-portrait {
					width: 25%;
				}

				h3.number {
					color: $orange;
					font-weight: 600;
					font-size: 2.5em;

					@include tablet-portrait {
						font-size: 4em;
					}
				}

				p {
					padding-top: 5px;
					font-weight: 500;
					font-size: 1em;
					line-height: 1.25em;
					color: $white;
					max-width: 200px;
					margin: 0 auto;
				}
			}
		}

		.accolades-wrapper {
			color: $white;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			max-width: 800px;
			margin: 0 auto;

			.accolade {
				width: 100%;
				margin-bottom: 25px;
				background: rgba(255, 255, 255, 0.25);
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 50px 25px;

				@include mobile-landscape {
					width: calc(50% - 12.5px);
				}

				@include tablet-portrait {
					width: calc(33.3333% - 25px);
				}

				p {
					line-height: 1.5em;
					color: $white;
				}
			}



		}

	}

	section#leadership {
		@include section-spacing(50, 0, 100, 0);

		.headline {
			text-align: center;
			padding-bottom: 50px;
		}

		.leadership-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}	

		.person {
			width: 100%;

			@include mobile-landscape {
				width: calc(50% - 25px)
			}

			@include tablet-portrait {
				width: calc(25% - 25px)
			}

			.photo {
				img {
					width: 100%;
				}
			}

			.info {
				padding-top: 15px;

				h4 {
					color: $slate;
					font-weight: bold;
				}

				h5 {
					padding-top: 5px;
					font-style: italic;
				}
			}
		}
	}



}