body.post-type-archive-careers {

	section.hero {
		.copy {
			p + p {
				padding-top: 25px;
			}
		}
	}

	section#why {
		@include section-spacing(50, 50, 100, 100);
		text-align: center;

		.wrapper {
			max-width: 800px;
		}

		.headline {
			padding-bottom: 25px;
		}

	}


	section#testimonials {
		background: $blue;
		color: $white;
		@include section-spacing(50, 50, 100, 100);
		text-align: center;

		.headline {
			padding-bottom: 25px;
			h2 {
				color: $white;
			}
		}

		.copy {
			color: $white;
			max-width: 640px;
			margin: 0 auto;
			padding: 25px 0;

			&:before {
				display: block;
				content: '';
				width: 72px;
				height: 49px;
				background: url(images/quotes-mark.svg) no-repeat 0 0;
				background-size: 100%;
				position: absolute;
				left: -25px;
				top: 0px;
				z-index: 1;
			}

			p {
				font-size: 1.5em;
				line-height: 1.5em;
			}
		}

		.testimonial {
			&:focus,
			&:active {
				outline: none;
			}
		}

		.slick-dots li button:before {
			background: $white;
			border: none;
		}

		.slick-dots li.slick-active button:before {
			background: $orange;
		}
	}


	section#careers-listings {
		@include section-spacing(50, 50, 100, 100);
		text-align: center;
		background: $off-white;

		.section-header {
			padding-bottom: 25px;
		}


		.careers-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}	

		.career {
			width: 100%;
			margin-bottom: 25px;
			text-align: left;
			padding: 40px;
			background: $white;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);


			@include mobile-landscape {
				width: calc(50% - 25px);
				margin-right: 12.5px;
				margin-left: 12.5px;
			}

			@include tablet-portrait {
				width: calc(33.3333% - 25px)
			}

			.headline {
				padding-bottom: 25px;
			}

			.copy {
				font-size: 0.875em;
				margin-bottom: auto;
			}

			.cta {
				padding-top: 25px;

				a {
					font-size: 0.875em;
				}
			}
		}

	}


}