body.page-template-contact {

	section.hero {

		&:after {
			background: rgba(0,0,0,0.8);
			background: linear-gradient(135deg, rgba(36,66,144,0.95) 0%, rgba(0,0,0,0.65) 66.6666%);
		}
	}


	section.offices {
		@include section-spacing(50, 0, 100, 0);

		.wrapper {
			display: grid;
			gap: 50px;
			grid-template-columns: 1fr;
			padding-bottom: 20px;

			@include mobile-landscape {
				grid-template-columns: 1fr 1fr;
			}
		}

		.office {
			box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);

			.headline {
				padding: 40px 40px 0 40px;
				background: $off-white;

				h2 {
					font-size: 1.25em;
					line-height: 1.125em;
					font-weight: 600;
					color: $slate;
					font-family: $lato;
					font-style: normal;

					@include tablet-portrait {
						font-size: 1.5em;
					}
				}

				h3 {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 0.75em;
					font-weight: 400;
					color: $slate;
					padding-bottom: 5px;

					@include tablet-portrait {
						font-size: 0.875em;
					}
				}
			}

			.copy {
				padding: 20px 40px 40px 40px;
				background: $off-white;
				color: $slate;

				h4 {
					font-weight: bold;
					padding-bottom: 5px;
				}

				p {
					line-height: 1.25em;
				}

				p + h4 {
					padding-top: 20px;
				}
			}
		}
	}

}