footer {
	background: $charcoal;
	color: $white;
	padding: 50px 0;

	@include tablet-landscape {
		padding: 50px 0 100px 0;
	}

	.wrapper {
		@include tablet-landscape {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	.headline {
		padding-bottom: 25px;

		h5 {
			&:after {
				content: '';
				display: block;
				width: 20px;
				height: 2px;
				background: #666;
				margin-top: 15px;
			}
		}
	}

	a {
		color: $white;

		&:hover {
			color: $orange;
		}
	}

	.breadcrumbs {
		width: 100%;
		padding-bottom: 50px;
		font-size: 0.875em;

		.seperator {
			padding: 0 5px;
		}
	}

	@import "partials/footer/logo";

	@import "partials/footer/nav";

	@import "partials/footer/social";

	@import "partials/footer/utility";
}

@media screen and (max-width: 767px) {
	#livechat-compact-container {
		display: none !important;
	}
}
