section.form-landing-page {
	padding: 50px 0;

	.wrapper {
		@include tablet-portrait {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}


	.info {
		@include tablet-portrait {
			width: calc(60% - 25px);
		}
	
		@include tablet-landscape {
			width: calc(66.6666% - 25px);
		}

		.headline {
			text-align: center;
			padding-bottom: 25px;
			max-width: 640px;
			margin: 0 auto;

			.arc {
				display: block;

				img {
					margin: 0 auto;
				}
			}

			h1 {
				color: $black;
			}
		}

		.copy {
			max-width: 640px;
			margin: 0 auto;
			color: $black;
			text-align: center;
		}

		.graphic {
			padding-top: 50px;
			max-width: 480px;
			margin: 0 auto;
		}
	}

	.form {
		padding-top: 50px;

		@include tablet-portrait {
			width: calc(40% - 25px);
			padding-top: 0;
		}
	
		@include tablet-landscape {
			width: calc(33.3333% - 25px);
		}		
	}
	
	.form-wrapper {
		background: $blue;
		padding: 25px;


		input[type="email"],
		input[type="text"] {
			display: block;
			width: 100%;
			padding: 10px;
		}

		label {
			color: $white;
			display: block;
			font-size: 0.75em;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-weight: 500;
		}

		.item {
			padding: 0 0 10px 0;

			span {
				display: block;
				padding-bottom: 5px;;
			}
		}

		.interest {
			width: calc(75% - 5px);

			&:after {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 6px 0 6px;;
				border-color: $mid-gray transparent transparent transparent;
				content: '';
				position: absolute;
				bottom: 25px;
				right: 10px;
				z-index: 0;		
			}
		}

		textarea {
			width: 100%;
			height: 120px;
			padding: 10px;
			color: $black;
		}

		select {
			border: none;
			border-radius: 0;
			padding: 10px;
			position: relative;
			width: 100%;
			height: 34px;

		}

		.field {
			padding: 10px 0;

			&.two-col {
				display: flex;
				justify-content: space-between;

				input {
					width: calc(50% - 10px);
				}
			}
		}

		.opt-in {
			display: flex;
			padding-top: 10px;
			padding-bottom: 25px;

			.checkbox {
				padding-right: 10px;
			}

			.label {
				p {
					font-size: 0.8125em;
					line-height: 1.25em;
					color: rgba(255, 255, 255, 0.5);
				}
			}
		}

		input[type="submit"] {
			display: inline-block;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 0.875em;
			font-weight: 500;
			border: none;
			padding: 10px 15px 10px 15px;
			color: $white;
			background: $orange;
			font-weight: bold;
			font-family: $oswald;
			appearance: none;	
		}			
		

	}
}