header {
	background: $white;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
	z-index: 100;
	max-height: 106px;

	@include tablet-portrait {
		position: sticky;
		top: 0;
	}

	@include tablet-landscape {
		max-height: 81px;
	}

	@include desktop {
		max-height: 106px;
	}

	.wrapper {
		max-width: 100%;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	@import "partials/header/menu";

	@import "partials/header/site-logo";

	@import "partials/header/solutions-nav";

	.tour-btn {
		display: none;

		@include mobile-landscape {
			display: block;
			order: 2;
			margin-left: auto;
			padding-right: 20px;
			max-height: 44px;

			a {
				text-transform: none;
				letter-spacing: 0;
				padding: 15px 15px 13px 15px;
			}
			
		}

		@include tablet-landscape {
			order: 4;
		}

		@include desktop {
			padding-right: 40px;

			a {
				padding: 15px 30px 13px 30px;
			}
		}
	}
}

nav {
	background: $charcoal;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	right: -100%;
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000);

	@include mobile-landscape {
		max-width: 375px;
		right: -375px;
	}

	@include tablet-landscape {
		left: -375px;
		right: auto;
	}

	.scroll {
		overflow: scroll;
		height: 100vh;
	}

	@import "partials/header/nav-header";

	@import "partials/header/nav-links";

	.tour-btn {
		padding: 30px 0 30px 0;
		text-align: center;
	}
}

body.mobile-nav-open {
	nav {
		right: 0;
		box-shadow: -4px 0 12px rgba(0, 0, 0, 0.25);


		@include tablet-landscape {
			right: auto;
			left: 0;
			box-shadow: 4px 0 12px rgba(0, 0, 0, 0.25);
		}
	}
}
