body.home {

	section.hero {
		@include tablet-portrait {
			height: 640px;
			overflow-y: hidden;
		}
		.slide {
			min-height: 360px;
			@include aspect-ratio(4, 3);
			@include section-spacing(50, 50, 0, 0);

			@include mobile-landscape {
				min-height: 480px;
				@include aspect-ratio(20, 9);
			}

			@include tablet-portrait {
				height: 640px;
			}

			@include overlay-gradient;

			&:after {
				background: rgba(0,0,0,0.8);
				background: linear-gradient(135deg, rgba(36,66,144,0.95) 0%, rgba(0,0,0,0.65) 66.6666%);
			}

			.hero-image {
				position: absolute;
				z-index: 5;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;

				@include grayscale;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.content {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			.wrapper {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				max-width: 860px;
				z-index: 50;
			}

			.info {
				text-align: center;
				color: $white;

				.headline {
					h2 {
						font-family: $oswald;
						font-weight: bold;
						font-size: 2em;
						line-height: 1.125em;
						text-transform: uppercase;
						text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
						font-style: normal;
						color: $white;

						@include mobile-landscape {
							font-size: 3em;
						}

						@include tablet-landscape {
							font-size: 4em;
						}
					}
				}

				.copy {
					@include section-spacing(15, 15, 25, 25)
					width: 80%;
					margin: 0 auto;

					@include tablet-landscape {
						width: 100%;
					}

					p {
						text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
					}
				}
			}


			&.slide-rewards {
				.ctas {
					justify-content: center;
				}
			}

		}


		.slick-dots {
			bottom: 20px;

			li {
				button:before {
					background: $white;
					border-color: $white;
					opacity: 0.75;
				}

				&.slick-active {
					button:before {
						background: $orange;
						border-color: $orange;
						opacity: 1;
					}
				}
			}

		}

	}

	section.hero {


		.wrapper {
			max-width: 1200px;

			.info {
				width: 100%;
			}

			.headline,
			.copy {

				@include tablet-landscape {
					max-width: 860px;
					margin: 0 auto;					
				}

			}
		}

		.headline {
			@include tablet-portrait {
				h1 {
					font-size: 4em;
				}
			}
		}

		.copy {
			p {
				font-weight: 500;
			}
		}

		.ctas {
			display: none;

			@include tablet-portrait {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				flex-wrap: wrap;
				padding-top: 50px;

				.cta-icon {
					a {
						color: $white;
						font-weight: 600;
						font-size: 1em;
						text-transform: uppercase;
						letter-spacing: 0.05em;

						img {
							width: 100%;
							max-width: 54px;
							height: 54px;
							margin: 0 auto;
						}

						.category {
							padding-bottom: 15px;
							display: block;
							font-size: 1.25em;

						}

						.label {
							display: inline-block;
							padding: 15px 0 5px 0;
							border-bottom: 2px solid $orange;
							font-size: 0.875em;
						}
					}
				}				
			}

			@include tablet-landscape {

				.cta-icon {
					a {
						.label {
							font-size: 1em;

						}
					}
				}

			}

		}
	}

	section#employee-recognition {
		@include section-spacing(50, 50, 100, 100);

		@include tablet-portrait {
			text-align: center;
		}

		.headline {
			@include section-spacing(0, 25, 0, 40);

			.icon {
				max-width: 64px;
				padding-bottom: 10px;

				@include tablet-portrait {
					margin: 0 auto;
				}
			}
		}

		.photos {
			display: flex;
			justify-content: space-between;

			.photo {
				width: calc(33.3333% - 5px);
				@include aspect-ratio(4, 3);

				@include tablet-portrait {
					width: calc(33.3333% - 12.5px);
				}

				img {
					@include photo-shadow;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				.square {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.copy {
			max-width: 780px;
			margin: 0 auto;
			@include section-spacing(25, 25, 40, 40);
		}
	}

	section#b2b-incentives {
		@include section-spacing(50, 50, 50, 50);
		overflow: visible;

		@inlcude tablet-portrait {
			margin-bottom: 50px;
		}

		.inset {
			background-size: 0;

			&:after {
				display: none;

				@include tablet-portrait {
					display: block;
				}
			}

			@include tablet-portrait {
				background-size: cover;
				@include aspect-ratio(2,1);
				@include photo-shadow;

				.content {
					padding: 40px;

					.info {
						max-width: 50%;
						margin-left: auto;
						padding: 40px;
						@include photo-shadow;
						z-index: 50;
					}
				}
			}

			@include tablet-landscape {
				.content {
					.info {
						max-width: 45%;						
					}
				}
			}


			@include desktop {
				.content {
					.info {
						max-width: 40%;
						padding: 60px;
					}
				}
			}
		}

		.photo {
			@include tablet-portrait {
				display: none;
			}
		}

		.info {
			background: $white;
			padding-top: 25px;


			.headline {
				.icon {
					max-width: 64px;
					padding-bottom: 10px;
				}

				h4 {
					padding-bottom: 15px;
				}
			}

			.copy {
				@include section-spacing(25, 25, 25, 25);

				p {
					font-size: 0.875em;
					line-height: 1.77em;

					@include desktop {
						font-size: 1em;
					}
				}
			}
		}
	}

	section#customer-loyalty {
		@include section-spacing(75, 50, 125, 100);

		.wrapper {
			@include tablet-portrait {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
			}

			@include tablet-landscape {
				align-items: center;
			}
		}

		.photo {
			@include tablet-portrait {
				width: calc(50% - 25px);
				order: 2;
			}

			@include tablet-landscape {
				width: 57.5%;
			}

			img {
				@include photo-shadow;
			}
		}

		.info {
			padding-top: 25px;

			@include tablet-portrait {
				width: calc(50% - 25px);
				order: 1;
				padding-bottom: 0;
			}

			@include tablet-landscape {
				flex: 1;
				width: auto;
				padding-right: 50px;
			}

			.headline {
				.icon {
					max-width: 64px;
					padding-bottom: 10px;
				}

				h4 {
					padding-bottom: 15px;
				}
			}

			.copy {
				@include section-spacing(25, 25, 25, 25);
			}
		}
	}

	section#rewards {
		@include section-spacing(50, 50, 100, 100);

		.wrapper {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 860px;
		}

		.info {
			text-align: center;
			color: $white;

			.copy {
				@include section-spacing(20, 25, 20, 50)
				width: 80%;
				margin: 0 auto;
				color: $white;

				@include tablet-landscape {
					width: 100%;
				}

				p + p {
					padding-top: 25px;
				}
			}

			.cta {
				a {
					color: $white;
				}
			}
		}
	}

	section#about {
		@include section-spacing(50, 50, 100, 100);

		.company {

			@include mobile-landscape {
				display: flex;

				.photo,
				.info {
					width: 50%;
				}
			}

			.photo {
				z-index: 2;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.info {
				padding: 40px;
				text-align: center;
				background: $light-gray-blue;
				display: flex;
				justify-content: center;
				align-items: center;

				@include tablet-landscape {
					padding: 40px 80px;
				}

				.logo {
					img {
						margin: 0 auto;
					}
				}

				.copy {
					@include section-spacing(25, 25, 25, 50);
				}
			}

		}

		.stats {
			padding: 50px;
			text-align: center;
			background: $charcoal;

			@include tablet-portrait {
				padding: 50px 25px;
			}

			.copy {
				color: $white;
			}

			.stats-wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				max-width: 800px;
				margin: 0 auto;
			}

			.stat {
				width: 100%;
				padding-top: 50px;


				@include mobile-landscape {
					width: 50%;	
				}

				@include tablet-portrait {
					width: 25%;
				}

				h3.number {
					color: $orange;
					font-weight: 600;
					font-size: 2.5em;

					@include tablet-portrait {
						font-size: 4em;
					}
				}

				p {
					padding-top: 5px;
					font-weight: 500;
					font-size: 1em;
					line-height: 1.25em;
					color: $white;
					max-width: 200px;
					margin: 0 auto;
				}
			}
		}

		.brands {
			max-width: 480px;
			margin: 0 auto;

			@include tablet-portrait {
				max-width: 1200px;
			}

			.headline {
				@include section-spacing(50, 25, 75, 25);
				text-align: center;

				h5 {
					color: $mid-gray;
					font-weight: 400;
				}
			}

			.logos {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;

				.logo {
					margin: 10px;

					@include tablet-portrait {
						margin: 10px 20px;
					}

					img {
						width: 100%;
						height: 100%;
						max-height: 48px;
						max-width: 100px;
						object-fit: contain;
					}
				}
			}			
		}
	}

	section#saas-technology {
		background: $light-gray-blue;
		@include section-spacing(50, 50, 100, 100);
		text-align: center;

		.headline {
			h1 {
				color: $blue;
			}
		}

		.copy {
			@include section-spacing(25, 25, 50, 50);
			max-width: 820px;
			margin: 0 auto;
			padding-bottom: 0 !important;
		}

		.logos {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;

			.logo {
				margin: 10px;

				@include tablet-portrait {
					margin: 10px 20px;
				}

				a {
					position: relative;
					display: block;

					&:before {
						content: 'Visit Website';
						display: inline-block;
						font-size: 0.8125em;
						font-weight: 500;
						white-space: nowrap;
						text-align: center;
						color: $orange;
						opacity: 0;
						transition: all 0.2s ease-in;
						background: $white;
						padding: 8px 12px;
						border-radius: 4px;
						box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
						margin: 0 auto;
					}

					&:hover {
						&:before {
							transform: translateY(-10px);
							opacity: 1;
						}
					}
				}

				img {
					width: 100%;
					height: 100%;
					max-height: 48px;
					max-width: 120px;
					object-fit: contain;
					
					@include tablet-portrait {
						max-height: 120px;
						max-width: 160px;
					}
				}
			}
		}

		.cta {
			@include section-spacing(25, 0, 50, 0);
		}


	}


	section#technology-platform {
		margin: 0 auto;
		@include section-spacing(50, 50, 75, 75);
		background: $blue;

		.wrapper {
			max-width: 480px;

			@include tablet-portrait {
				max-width: 1200px;
			}
		}

		.headline {
			padding-bottom: 25px;
			text-align: center;

			h5 {
				color: $white;
				font-weight: 400;
			}
		}

		.logos {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			.logo {
				margin: 10px;
				background: $white;
				width: 100px;
				height: 100px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;

				@include tablet-portrait {
					margin: 0 20px;
				}

				img {
					width: 100%;
					height: 100%;
					max-height: 64px;
					max-width: 64px;
					object-fit: contain;
				}
			}
		}			
	}

	section.editorial {
		@include section-spacing(50, 0, 100, 0);

		section.section-header {
			padding: 0 0 25px 0;

			.headline {
				h1 {
					color: $blue;

					a {
						color: $blue;
					}
				}
			}
		}

		section.curated-posts {
			.cta {
				padding-top: 50px;
			}
		}
	}


	footer {
		padding-top: 100px;
		
		.breadcrumbs {
			display: none;
		}
	}
}