body.blog,
body.category,
body.tag,
body.single-authors,
body.search-results,
body.tax-format {

	section#main {
		@include section-spacing(50, 50, 50, 50);

		@include tablet-portrait {
			min-height: 70vh;
		}
	}

	section.page-header {
		padding: 0 0 25px 0;

		.headline {
			h1 {
				color: $blue;
			}
		}
	}
}

body.blog {
	section.latest-posts {

		@include tablet-portrait {
			.wrapper {
				margin-top: 50px;
				border-top: 1px solid $light-gray;
				padding-top: 50px;
			}
		}



		.section-header {
			text-align: center;
			padding-bottom: 50px;
			display: none;

			@include tablet-portrait {
				display: block;
			}

			h4 {
				color: $blue;
				font-weight: 600;
			}
		}
	}
}

body.category,
body.tag,
body.single-authors,
body.search-results,
body.tax-format {
	section.page-header {
		padding: 0 0 50px 0;

		h4 {
			font-size: 0.75em;
			font-weight: 600;
			padding-bottom: 10px;

			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

body.single-authors {
	section.page-header {

		h1 {
			display: flex;
			align-items: center;

			img {
				max-width: 80px;
				margin-right: 20px;
			}
		}
	}
}

section.editorial {
	overflow: visible;
}