body.page-template-rewards {

	section.hero {
		&:after {
			background: rgba(0,0,0,0.7);
			background: linear-gradient(135deg, rgba(36,66,144,0.75) 0%, rgba(0,0,0,0.5) 66.6666%);
		}
	}

	section.categories {
		@include section-spacing(50, 50, 100, 100);
		margin-bottom: -75px;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.category {
			width: 100%;
			margin: 0 auto 75px auto;

			@include mobile-landscape {
				margin: 0 auto 45px auto;
			}

			@include tablet-portrait {
				width: calc(50% - 25px);

			}

			@include desktop {
				width: calc(50% - 50px);
			}

			.photo {
				img {
					margin: 0 auto;
				}

			}

			.info {
				padding-top: 25px;
				margin: 0 auto;

				@include mobile-landscape {
					padding: 30px;
					max-width: 80%;
					background: $white;
					box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
					z-index: 10;
					top: -30px;
					left: 10%;
				}

				@include tablet-portrait {
					left: 0;
				}

				@include tablet-landscape {
					padding: 50px;
				}

				.copy {
					padding: 15px 0;

					@include tablet-portrait {
						padding: 15px 0 25px 0;
					}
				}
			}
		}
	}


	section.global {
		@include section-spacing(50, 50, 100, 100);
		background-color: $blue;
		color: $white;
		text-align: center;

		.headline {
			h2 {
				color: $white;
			}
		}

		.copy {
			padding-top: 50px;
			color: $white;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			max-width: 800px;
			margin: 0 auto;

			.item {
				width: 100%;
				margin-bottom: 25px;
				background: rgba(255, 255, 255, 0.25);
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 50px 25px;

				@include mobile-landscape {
					width: calc(50% - 12.5px);
				}

				@include tablet-portrait {
					width: calc(33.3333% - 25px);
				}

				p {
					line-height: 1.375em;
				}
			}



		}

	}


	section.faqs {
		margin-bottom: 0;
	}


}