body.page-template-services {

	section.services {
		@include section-spacing(50, 0, 100, 0);

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.service {
			width: 100%;
			max-width: 640px;
			margin: 0 auto;

			& + .service {
				margin-top: 100px;
			}

			.photo {
				img {
					margin: 0 auto;
					max-width: 64px;
					max-height: 64px;
					width: 100%;
					height: 100%;
				}
			}

			.info {
				padding-top: 15px;
				text-align: center;

				.headline {
					h2 {
						font-size: 1.25em;
						line-height: 1.125em;
						font-weight: 600;
						color: $slate;
						font-family: $lato;
						font-style: normal;

						@include tablet-portrait {
							font-size: 1.5em;
						}
					}	
				}				

				.copy {
					padding: 15px 0 0 0;
				}
			}
		}
	}
}