body.single-post,
body.page-template-default {

	section#main {
		@include section-spacing(50, 0, 75, 0);

	}

	section.article-wrapper {
		.wrapper {
			@include tablet-landscape {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-start;

				& > article {
					width: calc(75% - 25px);
				}

				& > aside {
					width: calc(25% - 25px);
				}
			}
		}
	}

	article.post {

		section.article-header {
			padding-bottom: 25px;
			overflow: visible;


			@include tablet-landscape {
				padding-bottom: 40px;
			}

			.featured-image {
				@include overlay-gradient;

				img {
					object-fit: cover;
					width: 100%;
					max-height: 500px;
					@include grayscale;
				}
			}

			.headline {
				padding-bottom: 25px;

				@include tablet-landscape {
					padding-bottom: 40px;
				}

				h4 {
					a {
						color: $mid-gray;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				h1 {
					color: $blue;
				}
			}
		}

		section.article-body {

			.fluid-width-video-wrapper {
				margin: 20px 0;
			}

			img {
				width: auto !important;
				height: auto !important;
			}
		}
	}

	aside {
		padding-top: 40px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		@include mobile-landscape {
			padding-top: 80px;
		}

		@include tablet-landscape {
			padding-top: 0;
		}

		& > div {
			width: 100%;

			padding-bottom: 60px;				

			@include mobile-landscape {
				width: 33.3333%;

				&.newsletter {
					width: 100%;
				}
			}

			@include tablet-landscape {
				width: 100%;
				padding-bottom: 0;
				

				& + div {
					padding-top: 60px;
				}
			}
		}

		.copy.small.p3 {
			@include tablet-portrait {
				max-width: 180px;
			}
		}

		a {
			color: $mid-gray;

			&:hover {
				text-decoration: underline;
			}
		}

		h5 {
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 0.8125em;
			color: $slate;

			&:after {
				display: block;
				content: '';
				width: 25px;
				height: 2px;
				background: $mid-gray;
				margin: 8px 0 5px 0;
			}
		}

		.share {
			h5 {
				&:after {
					margin-bottom: 15px;
				}
			}
			.links {
				display: flex;
				align-items: center;

				.link {
					&.twitter {
						margin-top: 2px;
					}

					& + .link {
						padding-left: 20px;
					}

					a {
						img {
							width: 100%;
							height: 100%;
							max-width: 18px;
							max-height: 16px;
						}
					}
				}
			}
		}

		.authors {
			h5 {
				&:after {
					margin-bottom: 15px;
				}
			}

			.author {
				display: flex;
				align-items: center;

				& + .author {
					padding-top: 10px;
				}

				.photo {
					max-width: 40px;
				}

				.copy {
					flex: 1;
					padding-left: 10px;
				}
			}
		}

		.newsletter {
			background: $charcoal;	
			color: $white;
			padding: 40px 20px;

			@include tablet-portrait {
				margin-top: 60px;
			}			

			h5 {
				color: $white;
			}

			.copy {
				padding-bottom: 10px;
				p {
					color: $white;
				}
			}
			
			input[type="email"],
			input[type="text"] {
				display: block;
				width: 100%;
				padding: 10px;
			}

			label {
				color: $white;
				display: block;
				font-size: 0.75em;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				padding: 20px 0 5px 0;
				font-weight: 500;
				opacity: 0.8;
			}

			button[type="submit"] {
				display: inline-block;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.875em;
				font-weight: 500;
				border: none;
				padding: 0 0 5px 0;
				border-bottom: 2px solid $orange;
				color: $white;
				background: transparent;
				font-family: $oswald;
				margin-top: 20px;		
			}			
		}

		.sidebar-search {
			padding-top: 40px;
			width: 100%;

			.search-wrapper {
				padding-top: 10px;

				form {
					display: flex;
					align-items: center;
					width: 100%;

					input[type="search"] {
						display: block;
						padding: 5px 10px;
						border-radius: 0;
						border: 1px solid $light-gray;
						appearance: none;
						max-width: 200px;

						&:focus,
						&:active {
							outline: none;
						}
					}

					input[type="submit"] {
						display: inline-block;
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-size: 0.875em;
						font-weight: 500;
						border: none;
						padding: 0 0 5px 0;
						border-bottom: 2px solid $orange;
						color: $charcoal;
						background: transparent;
						font-family: $oswald;
						margin-left: 10px;		
					}
				}
						
			}
		}

		.recent-posts {
			width: 100%;
			max-width: 400px;

			h5 {
				&:after {
					margin-bottom: 15px;
				}
			}

			article.recent {
				+ article.recent {
					&:before {
						content: '';
						display: block;
						width: 60%;
						height: 1px;
						background: $light-gray;
						margin: 25px auto;
					}
				}
			}
			.headline {
				h4 {
					color: #888;
					font-size: 0.75em;
				}
			}
			.copy.small.p3 {
				@include tablet-portrait {
					max-width: 100%;
				}

				p {
					line-height: 1.5em;
					font-size: 1.125em;
				}

				a {
					font-weight: 600;
					color: $slate;
				}
			}
		}

	}


}
