body.single-careers {

	section.career-listing {
		@include section-spacing(50, 50, 100, 100);

		.headline {
			padding-bottom: 50px;

			h1 {
				color: $blue;

				@include tablet-portrait {
					font-size: 3em;
				}
			}
		}

		.copy {
			max-width: 640px;

			h1, h2, h3, h4, h5, h6 {
				font-weight: bold;
				color: $blue;
				padding-bottom: 10px;
				font-size: 1.5em;
			}

			* + h1,
			* + h2,
			* + h3,
			* + h4,
			* + h5,
			* + h6 {
				padding-top: 30px;
			}

		}

	}


}