body.page-template-solutions-category,
body.page-template-unified-employee-experience {

	section.hero {
		.info {
			.headline {
				h1 {
					font-size: 1.75rem;

					@include mobile-landscape {
						font-size: 2.5rem;
					}
				}
			}

			.copy {
				width: 100%;
			}
		}
	}

	section.about {
		text-align: center;
		@include section-spacing(50, 50, 100, 75);

		.wrapper {
			max-width: 800px;
		}

		.headline {
			@include section-spacing(0, 25, 0, 25);

			h2 {
				font-size: 1.25em;
				line-height: 1.125em;
				font-weight: 600;
				font-family: $lato;
				font-style: normal;
				color: $slate;

				@include tablet-portrait {
					font-size: 1.5em;
				}
			}
		}

		.cta {
			@include section-spacing(25, 25, 50, 25);
		}

		.photo {
			max-width: 600px;
			margin: 0 auto;
			padding-top: 25px;

			img[src*=svg] {
				width: 100%;
			}
		}
	}

	section.flexible-content-top {
		@include section-spacing(50, 50, 50, 100);
	}

	section.ideas {
		@include section-spacing(100, 50, 150, 100);
		background: $light-gray-blue;

		.next-arrow,
		.prev-arrow {
			position: absolute;
			top: -40px;
			z-index: 51;
			background-size: 100%;
			background-repeat: no-repeat;
			display: block;
			width: 24px;
			height: 24px;

			@include mobile-landscape {
				top: -47px;
				width: 32px;
				height: 32px;

			}
		}

		.prev-arrow {
			left: 1%;
			background-image: url(images/icon-prev.svg);

			@include tablet-portrait {
				left: 2%;
			}

			@include tablet-landscape {
				left: 5%;
			}
		}

		.next-arrow {
			right: 1%;			
			background-image: url(images/icon-next.svg);

			@include tablet-portrait {
				right: 2%;
			}

			@include tablet-landscape {
				right: 5%;
			}
		}

		.slick-dots {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding: 0 25px;
			bottom: auto;
			top: -50px;
			z-index: 50;

			li {
				margin: 5px 10px;
				width: auto;
				height: auto;

				@include mobile-landscape {
					margin: 10px 15px;
				}

				@include tablet-landscape {
					margin: 10px 20px;
					font-size: 1em;
				}

				a {
					color: $mid-gray;
					display: block;
					border-bottom: 2px solid transparent;
					padding-bottom: 3px;
					font-weight: 500;
					font-size: 0.8125rem;

					@include tablet-landscape {
						font-size: 1em;
					}
				}

				&:hover a,
				&.slick-active a {
					border-bottom-color: $orange;
				}
			}

		}

		.card {
			background: $charcoal;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			margin: 25px 12.5px;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
			max-width: 320px;

			@include mobile-landscape {
				max-width: 480px;
			}

			@include tablet-landscape {
				max-width: 960px;
				margin: 25px;
				box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
			}

			&:focus,
			&:active {
				outline: none;
			}

			.photo {
				width: 100%;

				@include tablet-landscape {
					width: 50%;
				}

				a {
					display: block;
					@include overlay-gradient;					
				}

				img {
					@include grayscale;
				}
			}

			.info {
				width: 100%;
				padding: 30px;

				@include tablet-landscape {
					width: 50%;
					padding: 50px;
				}

				.headline {
					h3 {
						a {
							color: $white;
						}
					}
				}

				.copy {
					color: $white;
					@include section-spacing(15, 15, 25, 25);
				}

				.cta {
					a {
						color: $white;
					}
				}
			}
		}
	}

	section.flexible-content-bottom {
		@include section-spacing(50, 0, 100, 0);
	}

}