body.page-template-solutions-detail {

	section.two-col {
		padding-top: 50px;

		@include tablet-portrait {
			padding-top: 100px;
		}
		
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	article {
		@include tablet-landscape {
			width: calc(66.6666% - 12.5px);
			max-width: 700px;
		}


		.headline {
			h4 {
				padding: 0 0 10px 0;
			}

			h1 {
				color: $blue;
			}

			h3 {
				color: $blue;
			}
		}

		.copy {

			h3 {
				font-weight: 600;
				text-transform: uppercase;
				padding-top: 10px;
				font-size: 1em;
				letter-spacing: 0.05em;
			}
		}

		.featured-image.mobile {
			margin-top: 25px;

			@include tablet-landscape {
				display: none;
			}
		}

		.overview {
			.copy {
				padding-top: 25px;
			}
		}

		.features {
			&:before {
				display: block;
				content: '';
				width: 100%;
				height: 1px;
				background: $light-gray;
				max-width: 280px;
				margin: 50px auto;

				@include tablet-landscape {
					margin: 75px auto;
				}
			}

			.feature {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				& + .feature {
					padding-top: 75px;
				}

				&:nth-child(even) {
					@include tablet-portrait {
						.graphic {
							order: 2;

							img {
								margin-left: auto;
							}							
						}						
					}
				}

				.graphic {
					width: 100%;
					padding-bottom: 15px;

					@include tablet-portrait {
						width: 40%;
						padding-bottom: 0;
					}

					img {
						max-width: 200px;
						margin: 0 auto;

						@include tablet-portrait {
							margin: 0;
						}

						@include tablet-landscape {
							max-width: 220px;
						}
					}	
				}

				.info {
					width: 100%;
					text-align: center;

					@include tablet-portrait {
						width: 60%;
						text-align: left;
					}
					
					.headline {
						padding-bottom: 15px;

						h2 {
							font-size: 1.25em;
							line-height: 1.125em;
							font-weight: 600;
							font-family: $lato;
							font-style: normal;

							@include tablet-portrait {
								font-size: 1.5em;
							}
						}
					}

					.copy {
						p {

							& + p {
								padding-top: 25px;
							}
						}
					}
				}
			}
		}
	}

	aside {
		width: 100%;

		@include tablet-landscape {
			width: calc(33.3333% - 12.5px);
		}

		.featured-image {
			display: none;

			@include tablet-landscape {
				display: block;
			}
		}

		.explore {
			background: #eee;
			width: 100%;
			margin-top: 50px;

			.headline {
				padding: 25px;
			}

			.links {
				.link {
					padding: 20px 30px;
					border-top: 1px solid #ddd;

					a {
						font-weight: 500;

						&:hover {
							text-decoration: underline;
						}
					}

					&.active {
						a {
							color: $orange;

							&:before {
								content: '·';
								font-weight: 900;
								padding-right: 5px;
							}
						}
					}
				}
			}
		}

		.saas-solution {
			margin-top: 50px;
			padding: 40px;
			background: #eee;

			.logo {
				img {
					max-width: 200px;
					max-height: 100px;
				}
			}
			.copy {
				padding: 25px 0 25px 0;
			}

			.cta {
				a {
					color: $slate;
				}
			}
		}
	}
}