body.page-template-technology {
	
	section.technology {
		@include section-spacing(50, 0, 100, 0);

		.wrapper {
			max-width: 960px
		}

		.technology-service {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			& + .technology-service {
				margin-top: 100px;
			}

			.photo {
				width: 100%;

				@include mobile-landscape {
					width: calc(25% - 25px);
				}

				@include tablet-portrait {
					width: calc(33.33333% - 25px);
				}

				img {
					max-width: 120px;
					max-height: 60px;

					@include tablet-portrait {
						max-width: 200px;
						max-height: 100px;
					}

				}
			}

			.info {
				padding-top: 25px;
				width: 100%;

				@include mobile-landscape {
					padding-top: 0;
					width: calc(75% - 25px);
				}

				@include tablet-portrait {
					width: calc(66.6666% - 25px);
				}

				.headline {
					h2 {
						font-size: 1.25em;
						line-height: 1.125em;
						font-weight: 600;
						color: $slate;
						font-family: $lato;
						font-style: normal;

						@include tablet-portrait {
							font-size: 1.5em;
						}
					}					
				}

				.copy {
					padding: 15px 0 0 0;
				}

				.cta {
					padding-top: 25px;
				}
			}
		}
	}


}