body {
	background: #fff;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

section {
	overflow-x:hidden;
}


.square {
	&:after {
		content: '';
		display: block;
		width: 150px;
		height: 150px;
		border: 1px solid $orange;
		position: absolute;
		top: -10px;
		left: -10px;
		z-index: -1;

		@include tablet-landscape {
			top: -15px;
			left: -15px;
		}
	}

	&-right {
		&:after {
			left: auto;
			right: -10px;

			@include tablet-landscape {
				right: -15px;
			}
		}
	}

	&-tablet {
		&:after {
			display: none;
		}

		@include tablet-portrait {
			&:after {
				display: block
			}
		}
	}
}


body.page-template-default {
	section#main {
		min-height: 70vh;
		@include section-spacing(50, 50, 75, 75)
	}

	section.generic {
		.headline {
			h1 {
				color: $blue;
			}
		}
	}
}


.fancybox-bg {
	background: $white;
}

.fancybox-close-small {
	color: $white;
	background: $black;
	border: 3px solid $white;
	border-radius: 50%;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
	opacity: 1;

	@include mobile-landscape {
		transform: translateX(20px);
	}
}

.photo,
.inset.cover,
.posts-wrapper article.post .photo a {
	&:after {
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		background: rgba(36, 66, 144, 0.5);
	}
}


.posts-wrapper article.post,
.editorial,
.author,
.technology-service,
.service,
section.about,
.featured-image {

	.photo:after {
		display: none;
	}
}


section.flexible-content {

	.flex-module + .flex-module {
		padding-top: 25px;
	}

	.image {
		img {
			margin: 0 auto;
		}
	}
}
