/* Media Queries
----------------------------------*/
$mobile-portrait-width: 480px;
$mobile-landscape-width: 568px;
$tablet-portrait-width: 768px;
$tablet-landscape-width: 1024px;
$desktop-width: 1280px;

@mixin mobile-portrait {
	@media screen and (min-width: #{$mobile-portrait-width}) {
		@content;
	}
}

@mixin mobile-landscape {
	@media screen and (min-width: #{$mobile-landscape-width}) {
		@content;
	}
}

@mixin tablet-portrait {
	@media screen and (min-width: #{$tablet-portrait-width}) {
		@content;
	}
}

@mixin tablet-landscape {
	@media screen and (min-width: #{$tablet-landscape-width}) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: #{$desktop-width}) {
		@content;
	}
}


@mixin section-spacing($top, $bottom, $tablet-top, $tablet-bottom) {
	padding: $top*1px 0 $bottom*1px 0;
	
	@include tablet-portrait {
		padding: $tablet-top*1px 0 $tablet-bottom*1px 0;
	}
}

@mixin photo-shadow {
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

@mixin wrapper-padding {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
	transition: padding 0.2s ease-in;

	@media screen and (min-width: 1250px) {
		padding: 0;
	}
}

@mixin aspect-ratio($width, $height) {
	position: relative;

	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}


@mixin overlay-gradient {
	&:after {
		width: 100%;
		height: 100%;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.4);
		background: linear-gradient(135deg, rgba(36,66,144,0.5) 0%, rgba(0,0,0,0.2) 66.6666%);
		z-index: 10;
	}
}

@mixin grayscale {
	filter: grayscale(30%);
}


@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%; 
  list-style: none;       
  
  > * {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);
  
    $angle: (360 / $item-count);
    $rot: 0;

    

	&:before,
	&:after {
		content: '';
		display: block;
		width: $item-size * 0.8;
		height: $item-size * 0.8;
		background: #C3C8D5;
		position: absolute;
		opacity: 0.2;
		z-index: -1;
		border-radius: 50%;
		
	}



    @for $i from 1 through $item-count {
		$randomNumber: (random(3) + 5);
		&:nth-of-type(#{$i}) {
			transform: 
				rotate($rot * 1deg) 
				translate($circle-size / 2) 
				rotate($rot * -1deg);

				&:before {
					animation: flicker-#{$i} $randomNumber+s infinite cubic-bezier(.36,.07,.19,.97);
					transform: 
						rotate($rot * 3deg) 
						translate($circle-size / 10) 
						rotate($rot * -1deg);
				}

				&:after {
					transform: 
						rotate($rot * 2deg) 
						translate($circle-size / 15) 
						rotate($rot * -1deg);
				}
		}

		$rot: $rot + $angle;
		$item: #{$i};

		@keyframes flicker-#{$i} {
			0% {
				opacity: #{$i} * 3;
			}

			25% {
			}


			50% {
				opacity: 100;
			}
	
			75% {
			}


			100% {
				opacity: #{$i} * 3;
			}
		}
    }
  }
}




