html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $mid-gray;
	font: 400 100%/1 $lato;
}

a {
	color: $slate;
	transition: all 0.2s ease-in;
}

.careers-btn,
.tour-btn {
	a {
		display: inline-block;
		background: $orange;
		color: $white;
		padding: 15px 30px 13px 30px;
		border-radius: 25px;
		font-weight: 600;
		font-size: 0.875em;
		transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000);

		@include desktop {
			font-size: 1em;
			padding: 15px 40px 13px 40px;
		}
	}
}


.headline {

	h1 {
		font-family: $oswald;
		font-weight: bold;
		font-size: 2em;
		line-height: 1.125em;
		text-transform: uppercase;

		@include mobile-landscape {
			font-size: 3em;
		}

		@include tablet-landscape {
			font-size: 4em;

			&.small {
				font-size: 3em;
			}
		}

		&.editorial {
			letter-spacing: -0.03em;
		}
	}

	h2 {
		font-family: $jubilat;
		color: $blue;
		font-size: 1.5em;
		font-weight: bold;
		font-style: italic;
		line-height: 1.125em;

		@include mobile-landscape {
			font-size: 1.75em;
		}

		@include tablet-portrait {
			font-size: 2em;
		}

		&.small {
			font-size: 1.75em;
		}

		&.editorial {
			font-family: $oswald;
			font-weight: 700;
			font-style: normal;

		}

		&.cat-headline {
			font-family: $oswald;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.02em;
			font-style: normal;

			@include desktop {
				font-size: 2.5em;
			}
		}

	}

	h3 {
		font-size: 1.25em;
		line-height: 1.125em;
		font-weight: 600;
		color: $slate;

		@include tablet-portrait {
			font-size: 1.5em;

			&.small {
				font-size: 1.25em;
			}
		}

		&.subheadline {
			font-family: $jubilat;
			color: $blue;
			font-weight: bold;
			font-style: italic;
			padding-top: 10px;
		}
	}

	h4 {
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 0.75em;
		font-weight: 400;
		color: $light-blue;
		padding-bottom: 5px;

		@include tablet-portrait {
			font-size: 0.875em;
		}
	}

	h5 {
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 0.875em;
		font-weight: 600;
	}

	.editorial {
		font-family: $oswald;
		font-weight: 700;

		a {
			color: $charcoal;
		}
	}

	h1.editorial {
		text-transform: uppercase;
	}
}

.copy {
	&.p1 {
		font-size: 1em;
		line-height: 1.5em;
		font-weight: 500;

		@include mobile-landscape {
			font-size: 1.25em;;
		}

		@include tablet-landscape {
			font-size: 1.37em;
		}

	}

	&.p2 {
		font-size: 0.875em;
		line-height: 1.5em;
		color: $mid-gray;

		@include mobile-landscape {
			font-size: 1em;
		}

		@include tablet-portrait {
			font-size: 1.125em;
			line-height: 1.7777em;
		}
	}


	&.p3 {
		font-size: 0.8125em;
		line-height: 1.7777em;
		color: $mid-gray;

		@include mobile-landscape {
			font-size: 0.875em;
		}

		@include tablet-portrait {
			font-size: 1em;
		}

		&.small {
			font-size: 0.8125em;
		}
	}

	&.p2-p3 {
		font-size: 0.875em;
		line-height: 1.5em;
		color: $mid-gray;

		@include mobile-landscape {
			font-size: 1em;
		}

		@include tablet-portrait {
			font-size: 1em;
		}
	}


	&.p4 {
		font-size: 0.8125em;
		line-height: 1.7777em;
		color: $mid-gray;

		@include mobile-landscape {
			font-size: 0.875em;
			line-height: 1.5em;
		}
	}

	&.extended {

		$vertical-padding: 30px; 
		p {
			padding-bottom: $vertical-padding;

			&:last-of-type {
				padding-bottom: 0;
			}
		}

		ul, ol {
			padding-bottom: $vertical-padding;
			padding-left: 25px;

			@include mobile-landscape {
				padding-left: 50px;
			}

			li {

				& + li {
					padding-top: 15px;
				}
			}
		}

		ol {
			list-style-type: decimal;
		}

		ul {
			list-style-type: disc;
		}

		blockquote {
			margin: 0 0 $vertical-padding 0;
			padding: 5px 0 5px 25px;
			border-left: 5px solid $orange;
			display: block;

			p {
				padding-bottom: 0;
				font-size: 0.875em;

				& + p {
					padding-top: $vertical-padding;
				}

			}

		}

		a {
			color: $blue;
			text-decoration: underline;
		}

		h1, h2, h3, h4, h5, h6 {
			font-weight: bold;
			font-family: $oswald;
			padding-bottom: 10px;
		}
	}
}

.cta {
	a {
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 0.8125em;
		font-weight: 500;
		padding-bottom: 5px;
		border-bottom: 2px solid $orange;

		@include tablet-portrait {
			font-size: 0.875em;
		}
	}
}