/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #e5e5e5;
$mid-gray: #666666;
$charcoal: #323232;
$slate: #231F20;
$black: #000;

$orange: #E15F29;
$blue: #253d82;
$light-blue: #7785AA;
$light-gray-blue: #F4F5F9;



/* Typography
----------------------------------*/
/*
	## JUBILAT ##
	Bold: 700
	Style: Italic
*/
$jubilat: 'Arvo', serif;


/*
	## OSWALD ##
	Bold: 700
	Style: Italic
*/
$oswald: 'Oswald', sans-serif;


/*
	## Lato ##
	Weights: 400, 700
	Styles: Normal, Italic
*/
$lato: 'Lato', sans-serif;