section.curated-posts {
	padding-top: 50px;

	@include tablet-landscape {
		padding-top: 0;
		padding-right: 15px;
	}


	article {
		display: flex;
		align-items: flex-start;

		& + article {
			padding-top: 50px;
		}

		.photo {
			width: 72px;
		}

		.info {
			flex: 1;
			padding-left: 25px;

			.headline {
				h4 {
					font-size: 0.75em;
				}
			}
		}
	}
}
