section.editorial {
	display: none;

	@include tablet-portrait {
		display: block;
	}

	.headline {
		h4 {
			a {
				color: $mid-gray;
			}
		}
	}

	.wrapper {
		@include tablet-landscape {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			article.featured-post {
				width: calc(66.6666% - 25px);
			}

			section.curated-posts {
				width: calc(33.3333% - 25px);
			}
		}
	}
}