article.featured-post {
	
	.photo {
		a {
			display: block;
			@include overlay-gradient;

			img {
				@include grayscale;
			}
		}
	}

	.headline {
		padding: 25px 0 15px 0;

		@include tablet-landscape {
			padding: 40px 0 25px 0;
		}

		h4 {
			@include tablet-landscape {
				padding-bottom: 15px;
			}
			a {
				color: $mid-gray;
			}
		}
	}

	.copy {
		padding-bottom: 15px;

		@include tablet-landscape {
			padding-bottom: 25px;
		}
	}

}
