.posts-wrapper {
	.alm-reveal {
		display: flex;
		flex-wrap: wrap;
	}

	.alm-btn-wrap .alm-load-more-btn {
		background-color: $white !important;
		color: $slate;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 0.875em;
		font-weight: 700;
		padding: 0 0 5px 0;
		border-bottom: 2px solid $orange;
		border-radius: 0;
		height: auto;


		&:hover {
			color: $slate;
		}

		@include tablet-portrait {
			font-size: 1em;
		}

	}

	article.post {
		width: 100%;
		margin-bottom: 50px;

		@include mobile-landscape {
			width: calc(50% - 12.5px);

			&:nth-child(even) {
				margin-left: 25px;
			}
		}

		@include tablet-portrait {
			width: calc(33.3333% - 16.6666px);

			&:nth-child(even) {
				margin-left: 0;
			}
			&:nth-child(3n+2) {
				margin-left: 25px;
				margin-right: 25px;
			}
		}

		.photo {
			@include aspect-ratio(16, 8);

			a {
				display: block;
				width: 100%;
				height: 100%;
			}

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		.info {
			padding-top: 25px;

			.headline {
				padding-bottom: 15px;

				h4 {
					padding-bottom: 10px;

					a {
						color: $mid-gray;
					}
				}
			}
		}
	}
}


body.category {
	article.post {
		.info {
			.headline {
				h4 {
					display: none;
				}
			}
		}
	}
}