.utilities {
	background: $charcoal;
	padding: 25px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	@include tablet-portrait {
		padding: 20px 25px;
	}

	.filters {
		width: 100%;

		@include tablet-landscape {
			flex: 1;
			width: auto;
		}
	}

	.links {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;

		&-header {
			h5 {
				color: $off-white;
				font-size: 0.875em;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 0.05em;
			}
		}

		&-wrapper {
			padding-left: 20px;
			transform: translateY(-2px);

			@include mobile-landscape {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				flex: 1;
				transform: translateY(-7px);
			}

			@include tablet-portrait {
				transform: translateY(-2px);

			}
		}

		.link {
			padding: 0 0 10px 0;

			@include mobile-landscape {
				padding: 5px 25px 5px 0;
			}

			@include tablet-portrait {
				padding: 0 25px 0 0;
			}

			a {
				color: $off-white;
				font-size: 0.875em;
				font-weight: 500;

				&:hover {
					color: $orange;
				}
			}
		}
	}

	.search-wrapper {
		padding-top: 25px;
		width: 100%;

		@include tablet-landscape {
			padding-top: 0;
			width: auto;
		}

		form {
			display: flex;
			align-items: center;

			input[type="search"] {
				display: block;
				padding: 5px 10px;
				border-radius: 0;
				border: none;
				appearance: none;
				max-width: 200px;

				&:focus,
				&:active {
					outline: none;
				}
			}

			input[type="submit"] {
				display: inline-block;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.875em;
				font-weight: 500;
				border: none;
				padding: 0 0 5px 0;
				border-bottom: 2px solid $orange;
				color: $white;
				background: transparent;
				font-family: $oswald;
				margin-left: 10px;		
			}
		}
				
	}
}