section.careers-cta {
	@include section-spacing(50, 50, 100, 100);

	.careers-cta-wrapper {
		background: $blue;
		padding: 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@include tablet-portrait {
			padding: 80px;
		}

		.info {
			@include tablet-portrait {
				width: 60%;
			}
			.headline {
				span {
					font-family: $oswald;
					color: $white;
					font-weight: 700;
					font-size: 2em;
					text-transform: uppercase;

					@include tablet-portrait {
						font-size: 3em;
					}
				}
			}

			.copy {
				padding-top: 15px;
				p {
					color: $white;
				}
			}
		}

		.careers-btn {
			padding-top: 25px;

			@include tablet-portrait {
				padding-top: 0;
			}
			
			a {
				border: 2px solid $white;
				background: $blue;

				&:hover {
					background: $white;
					color: $blue;
				}
			}
		}
	}
}