section.faqs {
	padding-top: 50px;

	@include tablet-portrait {
		padding-top: 100px;
		padding-bottom: 50px;
		margin-bottom: -50px;
	}


	.faqs-headline {
		text-align: center;
		padding-bottom: 50px;

		&:after {
			content: '';
			display: block;
			width: 40px;
			height: 4px;
			background: $blue;
			margin: 25px auto 0 auto;
		}
	}

	.sc_fs_faq {
		background: $light-gray-blue;
		padding: 20px;
		max-width: 960px;
		margin: 0 auto;

		& + .sc_fs_faq {
			margin-top: 20px;

			@include tablet-portrait {
				margin-top: 100px;
			}
		}

		& > div {
			@include tablet-portrait {
				display: flex;
				justify-content: space-between;
				padding: 25px;
			}


			h2 {
				color: $blue;
				font-family: $lato;
				font-size: 1.25em;
				line-height: 1.125em;
				font-weight: 600;
				padding-bottom: 25px;

				@include tablet-portrait {
					padding-bottom: 0;
					width: calc(33.3333% - 25px);
					font-size: 1.5em;
				}
	
				@include tablet-landscape {
					width: calc(25% - 25px);
				}

				&:before {
					content: 'Q:';
					display: block;
					color: $blue;
					font-family: $jubilat;
					font-size: 1.5em;
					margin-bottom: 15px;
				}

				&:after {
					content: '';
					display: block;
					width: 40px;
					height: 4px;
					background: $blue;
					margin-top: 25px;
				}
			}

			& > div {
				background: $white;
				padding: 25px;
				border: 4px solid $blue;
								
				@include tablet-portrait {
					width: calc(66.6666% - 25px);
				}

				@include tablet-landscape {
					width: calc(75% - 25px);
				}

				&:before {
					content: 'A:';
					display: block;
					color: $blue;
					font-family: $jubilat;
					font-size: 1.5em;
					margin-bottom: 15px;
	
					@include tablet-portrait {
						font-size: 2em;
					}
				}

				p {
					color: $slate;
					font-size: 0.8125em;
					line-height: 1.7777em;
			
					@include mobile-landscape {
						font-size: 0.875em;
					}
			
					@include tablet-portrait {
						font-size: 1em;
					}
				}
			}
		}
	}
}