section.hero:not(.home-hero) {
	overflow: visible;
	max-height: 720px;
	@include aspect-ratio(4, 3);
	@include section-spacing(50, 50, 0, 0);

	@include mobile-landscape {
		@include aspect-ratio(20, 9);
	}

	@include overlay-gradient;

	.hero-image {
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		@include grayscale;
	}

	.content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.wrapper {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 860px;
		z-index: 50;
	}

	.info {
		text-align: center;
		color: $white;

		.headline {
			h1 {
				text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
			}
		}

		.copy {
			@include section-spacing(15, 15, 25, 25)
			width: 80%;
			margin: 0 auto;

			@include tablet-landscape {
				width: 100%;
			}

			p {
				text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
			}
		}
	}
}