section.tour-cta {
	@include section-spacing(50, 50, 100, 100);

	.tour-cta-wrapper {
		background: $orange;
		padding: 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@include tablet-portrait {
			padding: 80px;
		}

		.info {
			@include tablet-portrait {
				width: 60%;
			}
			.headline {
				span {
					display: block;
					font-family: $oswald;
					color: $white;
					font-weight: 600;
					font-size: 2em;
					text-transform: uppercase;
					
					@include tablet-portrait {
						font-size: 3em;
					}
				}
			}

			.copy {
				padding-top: 15px;
				p {
					color: $white;
				}
			}

		}

		.tour-btn {
			padding-top: 25px;

			@include tablet-portrait {
				padding-top: 0;
			}
			
			a {
				border: 2px solid $white;

				@include tablet-landscape {
					font-size: 1em;
				}

				&:hover {
					background: $white;
					color: $orange;
				}
			}

		}
	}


	&.tour-form {

		.tour-cta-wrapper {
			.info {
				@include tablet-portrait {
					width: 100%;
				}				
			}
		}

		.form-wrapper {
			padding-top: 25px;
			width: 100%;

		}

		form {
			width: 100%;
			display: grid;
			gap: 20px;
			grid-template-columns: minmax(0, 1fr);

			@include mobile-landscape {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}

			@include tablet-landscape {
				grid-template-columns: repeat(3, minmax(0, 1fr));
			}
		}


		label {
			display: block;
			color: $white;
			margin-top: -4px;

			span {
				display: inline-block;
				padding-bottom: 5px;
				font-size: 0.8125rem;
				text-transform: uppercase;
				letter-spacing: 0.05em;
			}
		}

		input {
			border: 1px solid $off-white;
			padding: 10px;
			width: 100%;
		}

		select {
			width: 100%;
		}

		.opt-in {
			display: flex;
			align-items: center;
			align-self: flex-start;
			color: $white;

			@include mobile-landscape {
				grid-column: 1 / span 2;
			}

			@include tablet-landscape {
				grid-column: 1 / span 3;
			}

			.checkbox {
				width: 24px;

				input {
					width: auto;
					margin-right: auto;
				}
			}

			.label {
				font-size: 0.875rem;
				line-height: 1.25em;
			}
		}

		.g-recaptcha {

			@include mobile-landscape {
				grid-column: 1 / span 2;
			}

			@include tablet-landscape {
				grid-column: 1 / span 3;
			}

			& > div,
			iframe {
				width: 100% !important;
			}
		}

		#button {

			input {
				display: inline-block;
				background: $orange;
				color: $white;
				padding: 15px 30px 13px 30px;
				border-radius: 25px;
				border: 2px solid $off-white !important;
				font-weight: 600;
				font-size: 0.875em;
				transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
				max-width: 200px;

				@include desktop {
					font-size: 1em;
					padding: 15px 40px 13px 40px;
				}


				&:hover {
					background: $white;
					color: $orange;
					border: 2px solid $white !important;
				}

				&[disabled="true"] {
					opacity: 0.5;

					&:hover {
						border: 2px solid $off-white !important;
						background: transparent;
						color: $white;
					}
				}
			}
		}
	}
}