section#tour-overlay {
	display: none;

	.overlay {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 100000;
		background: rgba(255, 255, 255, 0.95);

		&-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100vh;
			padding: 20px;

			@include tablet-portrait {
				padding: 80px 20px;
			}
		}
	}

	.close {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 10;
		
		.tour-close-btn {
		  display: block;
		  width: 36px;

			&:before,
			&:after {
				background-color: $orange;
				content: '';
				display: block;
				height: 4px;
				transition: all 200ms ease-in-out;
			}

			&:before {
				box-shadow: 0 0 0 $orange;
				transform: translateY(11px) rotate(45deg);
				margin-bottom: 18px;
			}

			&:after {
				transform: translateY(-11px) rotate(-45deg);					
			}
		}
	}

	.info {
		background: $charcoal;
		border-radius: 2px;
		width: 100%;
		max-width: 480px;
		max-height: 100%;
		@include photo-shadow;
		overflow: scroll;

		.scroll {
			padding: 40px;
		}

		.headline {
			padding-bottom: 15px;

			h3 {
				font-family: $oswald;
				font-weight: 700;
				color: $white;
				text-transform: uppercase;
				letter-spacing: 0.05em;
			}
		}

		.copy {
			padding-bottom: 25px;
			p {
				color: $white;
			}
		}

		.tour-form {
			input[type="email"],
			input[type="text"] {
				display: block;
				width: 100%;
				padding: 10px;
			}

			label {
				color: $white;
				display: block;
				font-size: 0.75em;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-weight: 500;
				opacity: 0.8;
			}

			.item {
				padding: 0 0 10px 0;

				span {
					display: block;
					padding-bottom: 5px;;
				}
			}

			.interest {
				width: calc(75% - 5px);

				&:after {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 8px 6px 0 6px;;
					border-color: $mid-gray transparent transparent transparent;
					content: '';
					position: absolute;
					bottom: 25px;
					right: 10px;
					z-index: 0;		
				}
			}

			textarea {
				width: 100%;
				height: 120px;
				padding: 10px;
				color: $black;
			}

			select {
				border: none;
				border-radius: 0;
				padding: 10px;
				position: relative;
				width: 100%;
				height: 34px;

			}

			.field {
				padding: 10px 0;

				&.two-col {
					display: flex;
					justify-content: space-between;

					input {
						width: calc(50% - 10px);
					}
				}
			}

			.opt-in {
				display: flex;
				padding-top: 10px;
				padding-bottom: 25px;

				.checkbox {
					padding-right: 10px;
				}

				.label {
					p {
						font-size: 0.8125em;
						line-height: 1.25em;
						color: rgba(255, 255, 255, 0.5);
					}
				}


			}



			input[type="submit"] {
				display: inline-block;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.875em;
				font-weight: 500;
				border: none;
				padding: 10px 15px 10px 15px;
				color: $white;
				background: $orange;
				font-weight: bold;
				font-family: $oswald;
				appearance: none;	
			}			
			

		}

	}
}

body.tour-overlay-open {
	overflow: hidden;
}