body.page-template-unified-employee-experience {

	section.hero {
		max-height: 600px;
	}

	section.faqs {
		padding-bottom: 100px;
		margin-bottom: 0;
	}

}

section#unified-employee-experience {
	@include section-spacing(50, 50, 100, 100);



	.wrapper {
		max-width: 1200px;
	}

	.photo {
		@include tablet-portrait {
			display: none;
		}
	}

	.infographic {


		h2.infographic-header {
			font-weight: 600;
			color: $blue;
			padding-bottom: 25px;
			line-height: 1.25em;
			text-align: center;
		}

		@include tablet-portrait {
			display: block;
			width: 525px;
			height: 675px;
			margin: 0 auto;

			h2.infographic-header {
				position: absolute;
				top: calc(50% - 55px);
				left: 15px;
				width: 100%;
				text-align: center;
				margin: 0 auto;
			}
		}

		#pop-up {
			position: absolute;
			top: calc(50% - 75px);
			left: calc(50% - 140px);
			max-width: 300px;
			width: 100%;
			min-height: 200px;
			background: $white;
			border: 1px solid $light-blue;
			box-shadow: 0 0 20px rgba(36, 66, 144, 0.2);
			text-align: left;
			padding: 40px;
			color: $white;
			border-radius: 10px;
			opacity: 0;
			z-index: -1;
			transition: all 0.3s ease-in;

			@include tablet-portrait {
				top: calc(50% - 150px);
				left: calc(50% - 140px);
			}
			
			h4 {
				color: $blue;
				font-weight: 600;
				padding-bottom: 5px;
				font-size: 1.25em;
			}

			.copy {
				font-size: 0.875em;

			}
		}

		&.hover #pop-up {
			opacity: 1;
			z-index: 50;
		}
	}

	.pop-up-close {
		position: absolute;
		top: 15px;
		right: 15px;
		color: $orange;
		font-weight: bold;


		@include tablet-portrait {
			display: none;
		}

	}

	.infographic-wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		@include tablet-portrait {
			@include on-circle($item-count: 8, $circle-size: 550px, $item-size: 116px);
			transform: translateX(-58px);
		}

		.spoke {
			@include tablet-portrait {
				margin: 0;
			}

			&:hover {
				cursor: pointer;
			}

			.spoke-wrapper {
				position: relative;
				width: 116px;
				height: 116px;
				text-align: center;
				margin: 20px;
				z-index: 1;

				
				@include tablet-portrait {
					margin: 0;
				}
			}

			$color: #E94E3D;

			.icon-wrapper {
				background: linear-gradient(0deg, rgba(93,104,152,1) 0%, rgba(40,53,109,1) 100%);
				color: $white;
				width: 116px;
				height: 116px;
				border-radius: 50%;
				transition: all 0.3s ease-in;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: absolute;
				z-index: 1;
				transition: all .5s ease;
				
				&:hover {
					box-shadow: 0 0 0 3px rgba(#fff,.4) , 0 0 0 6px  $orange;
					cursor: pointer;
				}
			}

			.icon {
				img {
					margin: 0 auto;
					width: 100%;
					max-width: 40px;
					max-height: 40px;
				}
			}

			.title {
				padding-top: 10px;
				h4 {
					text-transform: uppercase;
					font-size: 0.675em;
				}
			}

			.copy {


			}

			&.hover {
				.copy {
					opacity: 1;
					z-index: 100;
				}
			}

		}
	}
}



