.footer-nav {
	padding-top: 50px;

	@include tablet-landscape {
		padding-top: 0;
		width: 60%;
	}

	.links {
		@include mobile-landscape {
			columns: 2;
		}

		@include tablet-portrait {
			columns: 3;
			max-width: 768px;
		}
	}


	a {
		font-size: 0.875em;
		display: block;
		padding: 7px 0;
	}
}