.footer-social {
	padding-top: 50px;


	@include tablet-landscape {
		padding-top: 0;
		width: 20%;
	}

	.headline {
		padding-bottom: 33px;
	}

	.links {
		display: flex;
		align-items: center;			

		a {
			display: flex;
			align-items: center;
			width: 20px;
			height: 20px;

			img {
				width: 100%;
				height: 100%;
				max-width: 20px;
				max-height: 20px;
			}

			& + a {
				margin-left: 20px;
			}
		}
	}

	.technology-platform {
		padding-top: 100px;

		.logos {
			display: flex;
			align-items: center;			

			.logo {

				& + .logo {
					margin-left: 20px;
				}

				img {
					width: 100%;
					height: 100%;
					max-width: 48px;
					max-height: 48px;
				}
			}

		}
	}
}