.footer-utility {
	margin-top: 50px;
	border-top: 1px solid #444;
	padding-top: 25px;
	color: #666;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;

	a {
		color: #666;

		&:hover {
			text-decoration: underline;
		}
	}



	.copyright {
		width: 100%;
		padding: 0 0 20px 0;

		@include tablet-landscape {
			width: auto;
			padding: 0 20px 0 0;
		}

		p {
			font-size: 0.75em;
		}
	}

	.links {
		width: 100%;
		padding-top: 20px;

		@include tablet-portrait {
			display: flex;
			align-items: center;
			padding-top: 0;
			width: auto;	
		}


		a {
			font-size: 0.75em;
			display: block;

			& + a {
				margin: 10px 0 0 0;

				@include tablet-portrait {
					margin: 0 0 0 20px;
				}
			}

		}
	}
}