.menu {
	border-left: 1px solid $light-gray;
	order: 2;
	max-height: 106px;

	@include mobile-landscape {
		order: 3;
	}

	@include tablet-landscape {
		order: 1;
		border-right: 1px solid $light-gray;
		border-left: none;
		max-height: 81px;
	}

	@include desktop {
		max-height: 106px;
	}

	.menu-btn {
		display: block;
		padding: 40px;

		@include tablet-landscape {
			padding: 25px;
		}

		@include desktop {
			padding: 40px;
		}

		span {
	  		width: 36px;
	  		display: block;

			&:before,
			&:after {
				background-color: $blue;
				content: '';
				display: block;
				height: 4px;
				transition: all 200ms ease-in-out;
			}

			&:before {
				box-shadow: 0 11px 0 $blue;
				margin-bottom: 18px;
			}
		}
	}
}