.nav-links {
	border-top: 1px solid #2a2a2a;
	border-bottom: 1px solid #2a2a2a;

	a {
		display: block;
		padding: 15px 20px;
		font-weight: 500;
		font-size: 0.875em;
		color: $white;

		@include tablet-portrait {
			font-size: 1em;
			padding: 24px 20px 22px 20px;
		}

		& + a {
			border-top: 1px solid #2a2a2a;
		}

		&:hover {
			color: $orange;
		}
	}
}