.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 22px 40px 22px 20px;

	@include tablet-landscape {
		padding-right: 20px;
	}

	.logo {
		@include mobile-landscape {
			visibility: hidden;
		}

		@include tablet-landscape {
			visibility: visible;
		}

	img {
		max-width: 110px;
	}

	}

	.close {
		.close-btn {
		  display: block;
		  width: 36px;

			&:before,
			&:after {
				background-color: $white;
				content: '';
				display: block;
				height: 4px;
				transition: all 200ms ease-in-out;
			}

			&:before {
				box-shadow: 0 0 0 $white;
				transform: translateY(11px) rotate(45deg);
				margin-bottom: 18px;
			}

			&:after {
				transform: translateY(-11px) rotate(-45deg);					
			}
		}
	}
}