.site-logo {
	padding: 0 20px;
	order: 1;

	img {
		width: 110px;
	}

	@include mobile-landscape {
		padding: 0 40px;
	}

	@include tablet-landscape {
		margin-right: auto;
		order: 2;
		padding: 20px 25px;

		img {
			width: 80px;
		}
	}

	@include desktop {
		padding: 0 40px;


		img {
			width: 110px;
		}
	}

	a {
		display: block;
	}
}