.solutions {
	display: none;
	max-height: 48px;

	@include tablet-landscape {
		display: flex !important;
		align-items: center;
		margin-right: auto;
		flex: 1;
		order: 3;

		a {
			font-weight: 500;
			font-size: 0.8125em;
			display: block;

			& + a {
				margin-left: 25px;

			}

			&:hover {
				color: $blue;
			}

			&.icon-btn {
				max-height: 48px;

				img.icon {
					display: none;
				}

				@include desktop {
					display: flex;
					align-items: center;
					border: 2px solid $blue;
					padding: 12px 12px;
					border-radius: 24px;
					color: $blue;

					&:hover {
						background: $blue;
						color: $white;

						img.icon.normal {
							display: none;
						}

						img.icon.hover {
							display: block;
						}
					}

					img.icon {
						display: block;
						width: 20px;
						margin: 0 8px 0 0;

						&.hover {
							display: none;
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: 1100px) {
		a {

			& + a {
				margin-left: 30px;
			}
		}
	}

	@media screen and (min-width: 1340px) {
		a {
			font-size: 0.875em;

			&.icon-btn {
				padding: 12px 16px;

			}
		}
	}

}

.employee-engagement-active .employee-engagement-nav,
.b2b-incentives-active .b2b-incentives-nav,
.customer-loyalty-active .customer-loyalty-nav {
	color: $blue;
}